<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
  <title>Նոթատետր</title>
</head>
<body>
<div class="container">
  <form action="" method="post">{% csrf_token %}
    <button type="submit" class="{% if note %}button edit{% else %}button view{% endif %} btn-lg" style="width:100%; margin-top: 15px;" onclick="location.href='/add';">{% if note %}Ուղղել{% else %}Ավելացնել{% endif %}</button>
    <textarea class="form-control" style="border-radius: 15px; min-width: 100%; margin-top:5px; min-height: 100%;" rows="25" cols="40" name="content">{{ note }}</textarea>
  </form>
</div>
</body>
</html>
